body {
    font-family: Arial;
    margin: 0;
    padding: 0;
       background-image: linear-gradient(rgb(175, 176, 185),purple);

}
#messages {
    scroll-behavior: auto;
}

#messageList li {
    padding: 8px 12px;
    margin-bottom: 8px;
    border-radius: 15px;
    background-color: #f1f1f1;
    max-width: 75%;
    word-wrap: break-word;
}

#messageList li.self {
    background-color: #d1e7dd;
    margin-left: auto;
    text-align: right;
}

/*#messages {
    list-style-type: none;
    padding: 10px;
    height: 80vh;
    overflow-y: auto;
}

#form {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    background: #fff;
    padding: 10px;
}

#input {
    flex-grow: 1;
    padding: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
}

.left{
    float: left;
    clear: both;
}

.right{
    float: right;
    clear: both;
}*/
